@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Noir';
  src: url('../public/Noir_medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family:'Noir';
  background-color: #03060e;
  overflow: hidden;
  height: 100vh;
}

.calendar-container {
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 350px;
  flex-direction: column;
  justify-content: center;
  background-color: #131a2e;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
@media(max-width:1024px){
 
  .sidebar{ width: 250px;}
}
.sidebar h2 {
  color: #fff;
  margin-bottom: 20px;
}

.calendar-dates {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.date {
  width: 40px;
  height: 40px;
  background-color: #394b70;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.date.active, .date:hover {
  background-color: #2ec5f0;
}

.guide h3 {
  color: #fff;
  margin-bottom: 10px;
}

.guide ul {
  list-style: none;
  padding: 0;
}

.guide li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.circle {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}

.workshop { background-color: #3ec5f0; }
.mini-event { background-color: #6875f5; }
.company-qa { background-color: #ff4b5c; }
.other { background-color: #ffc107; }

.events-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
}

@media(max-width: 768px){
  .events-section{
    width: 250%;
  }
}
.events-section h1 {
  color: #fff;
  font-size: 2rem;
}

.events-section p {
  color: #fff;
  margin-bottom: 20px;
}

.event {
  display: flex;
  align-items: center;
  background-color: #223b61;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 15px;
}

.event-time {
  color: #fff;
  font-size: 1rem;
  width: 150px;
}

.event-details {
  flex-grow: 1;
}

.event-details h3 {
  color: #2ec5f0;
  margin: 0;
}

.event-details p {
  margin: 0;
  color: #ffc107;
}

.cont{
  width: 150%;
}